form{
    /* text-align: center; */
}

.heading{
    font-size: 22px;
    font-weight: bold;
}

.login-container{
    height: 100%;
    text-align: center;
}

.form-element{
    display: flex;
    flex-direction: column;
}

.form-element label{
    font-size: 15px;
    font-weight: bold;
}

.form-element input{
    align-self: center;
    height: 30px;
    width: 30%;
    border-radius: 5px;
}

.login-form-btn{
    background-color: #1ed760 !important;
    margin-top: 20px;
    padding: 15px 15px;
    border-radius: 500px;
    border: none;
    width: 100px;
    font-size: 20px;
}

.muzix-link{
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.forgot-password-link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
