.Home{
    position: relative;
    display: grid;
    grid-template-columns: 19% 81%; 
}

/* @media screen and (max-width: 750px) {
    .Home {
      position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    }
  } */